HOROSA_SERVER_ROOT=http://127.0.0.1:9999
HOROSA_CHART_SERVER_ROOT=http://127.0.0.1:8899
HOROSA_SKILL_DATA_DIR=
HOROSA_SKILL_DB_PATH=
HOROSA_SKILL_OUTPUT_DIR=
HOROSA_RUNTIME_ROOT=
HOROSA_RUNTIME_MANIFEST_URL=
HOROSA_RUNTIME_RELEASE_REPO=Horace-Maxwell/horosa-skill
HOROSA_RUNTIME_PLATFORM=
HOROSA_LOCAL_BACKEND_PORT=9999
HOROSA_LOCAL_CHART_PORT=8899
HOROSA_RUNTIME_START_TIMEOUT_SECONDS=15
HOROSA_SKILL_HOST=127.0.0.1
HOROSA_SKILL_PORT=8765
HOROSA_SKILL_LOG_LEVEL=INFO
HOROSA_TRACE_ENABLED=1
HOROSA_TRACE_DIR=
HOROSA_TRACE_CAPTURE_PAYLOADS=0
HOROSA_TRACE_CAPTURE_AI_ANSWERS=0
HOROSA_TRACE_OTLP_ENDPOINT=
